cache/
essentialmode.db
resources/[utility]/screenshot-basic/dist/server.js
resources/[utility]/screenshot-basic/dist/ui.html
resources/[utility]/screenshot-basic/dist/ui.js
resources/[utility]/screenshot-basic/dist/server.js
resources/[utility]/screenshot-basic/dist/ui.html
resources/[utility]/screenshot-basic/dist/ui.js
