endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 55
set es_enableCustomData 1
# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
sv_licenseKey l09s5ndp8zim2zysok4uzkex87ds8v5l
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow
### DEFAULT ###
stop webadmin
start fivemqueue
start esx_voice
start tokovoip_script
start ls-radio
start mapmanager
start chat
start chat-theme-civlifechat
start esx_rpchat
start spawnmanager
start sessionmanager
start fivem
start fivem-ipl
start loqscript-material_load-loadingscreen
start fxmigrant
### MYSQL ASYNC ###
start mysql-async
start async
###LOVEFIST CAD###
start lf_cad
start lf_bolo
start lf_warrant
start lf_criminalrecords
start lf_medicalrecords
##streaming##
start maps
start maps2
start carstream
## ESSENTIAL MODS ###
start essentialmode
start esplugin_mysql
start es_admin2
start es_extended
### ESX REQUIRED MODS ###
start instance
start cron
start skinchanger
start esx_skin
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_addons_gcphone
start gcphone
start esx_addonaccount
start esx_addoninventory
start esx_datastore
start esx_society
start esx_service
start esx_billing
start esx_identity
start esx_kashacters
## DEPENDENCY ##
start pNotify
exec resources/[system]/vMenu/config/permissions.cfg
start vMenu
## OTHER ESX ##
start esx_advancedgarage
start esx_aircraftshop
start esx_boatshop
start esx_truckshop
start esx-qalle-jail
start esx_plasticsurgery
start esx_duty
start esx-kr-vehicle-push
start esx_extraitems
start esx_accessories
start esx_ambulancejob
start pk_banking
start esx_bankerjob
start esx_barbershop
start esx_status
start esx_basicneeds
start esx_shops
start esx_doorlock
start esx_eden_clotheshop
start esx_dmvschool
start esx_thief
start newui
start esx_org1
start esx_org2
start esx_org3
start esx_joblisting
start esx_jobs
start esx_license
start esx_lscustom
start esx_lfcustom
start esx_mechanicjob
start esx_policejob
start esx_property
start esx_mechanicjob2
start esx_marducasjob
start esx_warrantjob
start esx_fib
start esx_trunk
start esx_vehicleshop
start esx_weaponshop
start esx_moneywash
start esx_contract
start esx_outlawalert
start ESX_Healthbar-UI
start esx_vehiclelock
start esx_privatemenu
start esx_unicornjob
start esx_tattooshop
start esx_lockpick
start esx_gunrange
start esx_gunrange2
start LEO_Training_Facility
start esx_journaliste
start esx_vigneronjob
start esx_lawyer
start esx_gouvernor
start esx_handcuffs
start esx_rope
start esx_borrmaskin
start esx_courthouse
start esx_inventoryhud
start esx_spectate
start esx_repairkit
start esx_sit
start esx_taxijob
## Testy Poos ##
start lovefist_cracker
start lovefist_vangelico
#start lovefist_safes
#start esx_policedog
start disc-base
start disc-armory
start drp_recreation
start mission_row_safehouse
start paletopd
## EXTRAS ##
start TA.Sync
#start fingerpoint
start NoReticle
start fax-hrc
start NoVehicleWeapons
start 911
start weapons-on-back
start welcome
start heli
start heli2
start heli3
start WeazelNewsCam
start 99kr-gym
#start crouch
start hideInTrunk
start dqp_bindanim
##EUP##
start NativeUI
start eup-stream
start eup-ui
## WORLD EDIT ##
start afkkick
start es_camera
start teleport
#start SELLCHIPSRIP
## KYLIE ##
start kyliesreskin
start BUYKEYS
## VEHICLE SHIT ##
start PogFuel
start RealisticVehicleFailure
#### CARS ####
start cateyedually
start stockcars
start divo
start esx_gokart_script
start spirit
start schafter
start WeazelNews
start r8ppi
start xx-car-evo
start xx-huracan
start xx-car-lp770
start xx-car-lp700
start xx-car-gt17
start xx-car-fastback
start xx-car-bike
start xx-car-cvpi
start xx-car-r8
start xx-car-c300
start xx-car-charg
start xx-car-trailcat
start xx-car-demon
start xx-car-challenger
start xx-car-camaro
start xx-car-gmc
start xx-car-raptor
start xx-car-titan
start xx-car-a8
start xx-car-humvee
start xx-car-rrphantom
start xx-car-rmodveneno
start xx-car-skyline
start xx-car-ac7rs6
start xx-car-f4rr
start xx-car-lexus350
start xx-car-moto
start xx-car-moto3
##RP CARS##

start ody18
start qashqai16
start qx56
start r50
start rampj
start rav4
start rubi3d
start s2k
start schoolbus
start sq72016
start srt2018
start sti7
start streiter2
start superduty
start tesla3
start twizy
start v60
start vtrumbler
start vxr
start x5e53
start vsrx7
start umkscout
start sandkinglow
##ADDED 7_16_19
start prius
start subwrx
#### CAR PACKS ####
start viktoraddoncars
start pack1
start SUPRA2
start xx-pac-pol3
### STUFF
start jsfour-blindfold
start jsfour-idcard
start lux_vehcontrol
start esx_radio
start policevehs
start esx_carry
## ADDED POST 5/25/2019##
start delivery
start progressBars
##ADDED POST 5/27/2019##
start fax-hidecmds
start hypr9stun
start towtruck
start esx_scoreboard
#DUDEROCK ADDED 5/27/2019 ##
start esx-ecobottles
start JAM
start knockout
start esx_binoculars
start BrockALPR
start mythic_progbar
##ADDED 6/3/2019###
start esx_knatusblowtorch
start esx_knatusrobberybank
start esx_SodaMachine
## ADDED SUPER UPDATE
start esx_newdrugs
start esx_crafting
start notepad
start hypr9boost
start klaptop
start carry
start txAdminClient
start screenshot-basic
start esx-kr-advanced-shops
start admin
start KBurglary
## added 6/25/2019##
start clothing
start Radiant_Animations
start pillbox_beds
start esx_realestateagentjob
start SRseatbelt
start cuff
start mythic_progbar
start mythic_notify
start BoneFive
start policerack
start program-casino
start rad_gsr
start cagelighter
start vSync
start bnj_dances
start esx_pharmacyv2
start Lenzh_chopshop
start loffe_robbery
start loffe-fishing
start esx_hunting
start scully_flightschool
##PATREON CARS
start pcars
start kymberley
start moto
start matthis
start 2010cvpi
start 17Silverado_JoshM
start repotf2
##PROPS##
start interact-sound
start simple-nightclub
start polisfix
start vagos_savehouse
start faceexpressions
start PillboxHospital
start PillboxHospital-doors
start esx_hifi
start FiveM-Discord-Bot
start limits
start monacogp
start francorchamps
start f1_hrt
start f1_lotus
start f1_mercedes
start f1_redbull
start f1_sauber
start f1_virgin
start f1_williams
start f1_ferrari
start Charger2016
start dabob
start c10ss
start lp770cop
start release2
start Silv
start kosta3
start slave
start verin
start esx_vote
start esx_rentalcar
start driftin
start garage
start lawlblue
start Timetrials
start chevellecop
start chevelless
start gtx
start superbee
start esx_ktackle
start radio
start s15rb
start esx_unishow
start modelblacklist
start brownmaps
start vagos_savehouse

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, strict, realistic, drugs, jobs, mafia, robbery, nopixel, rp, serious rp, police, serious, doj, lawyer, gambling, cars, custom cars,"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

sv_hostname "^1LOVEFIST RP - Kylie Dev | ^5FRESH WIPE | ^2NOPIXEL BASED | ^3Jobs Drugs Crime | ^8REALISTIC ECON | ^1FINANCING | ^2APARTMENTS |^4"
sv_hostname_short "WHITELIST 1"

set steam_webApiKey D9F4495F3AB2B18FA202B80B261C15CB
start esx_discord_bot1
start esx_discord_safe

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon lovefist-gta-v-rp-nopixel-like-familyrp-tfrp-twitch-lfrp.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

add_ace group.admin command.hypnonema allow #theater

add_ace group.admin command.limbs allow # /limbs heals limps and bloodloss

# Hide player endpoints in external log output.
sv_endpointprivacy true

#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
stop hardcap
