@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
    overflow-y: hidden;
    display: none;
    
}

button {
  
    background: #a5a5a5;
    border: none;
}

h1 {
    padding: 10%;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color: #00ff4c;
    font-weight: bold;
}

button {
    font-family: 'Francois One', sans-serif;
    color: white;
    font-weight: bolder;
    background-color: rgb(66, 135, 245, 0.7);
    margin-left: 25%;
    height: 80px;
    width: 50%;
    display: block;
    border-radius: 10px;
    transition: 0.30s
}

button:hover {
    background-color: rgb(0, 255, 76, 0.7);
    background: #07cf00;
    transition: 0.30s
}

.main{
    background-color: rgb(66, 135, 245, 0.3);
    margin:0 auto;
    width: 500px;
    height: 1000px;
    margin-left: 40%;
    margin-top: 3%;
    border-radius: 5px;
}
